azul_google = #166BEC
blanco = rgb(235, 223, 240)
blanco_grisaseo = #dedded
gris = rgb(72,68,70)
gris_transparente = rgba(76, 76, 76, 0.5)
moradito_amarronado = #836056
naranjarogizo = rgb(235,50,20)
naranjatransparente = rgba(235,50,20,0.7)
negro = #414141
negro_transparente  = rgba(0,0,0,0.5)

/*Las Funciones*/
background-cover()
	background-size cover
	-o-background-size cover
	-ms-background-size cover
	-moz-background-size cover
	-webkit-background-size cover
border-radius()
	border-radius arguments
	-o-border-radius arguments
	-ms-border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments
box-shadow()
	box-shadow arguments
	-o-box-shadow arguments
	-ms-box-shadow arguments
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
box-sizing()
	box-sizing border-box
	-o-box-sizing border-box
	-ms-box-sizing border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
box-shadow_lindo()
	box-shadow 0px 1px 0px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
	-o-box-shadow 0px 1px 0px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
	-ms-box-shadow 0px 1px 0px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
	-moz-box-shadow 0px 1px 0px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
	-webkit-box-shadow 0px 1px 0px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
text-shadow()
	text-shadow arguments
	-o-text-shadow arguments
	-ms-text-shadow arguments
	-moz-text-shadow arguments
	-webkit-text-shadow arguments
text-shadow_lindo()
	text-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-o-text-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-ms-text-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-moz-text-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-webkit-text-shadow 0px -1px 0px rgba(0,0,0,0.25)
transform()
	transform arguments
	-o-transform arguments
	-ms-transform arguments
	-moz-transform arguments
	-webkit-transform arguments
transition()
	transition arguments
	-o-transition arguments
	-ms-transition arguments
	-moz-transition arguments
	-webkit-transition arguments